#chat-screen{
    background-color: #abc1d1;
    height: 100vh;
}
#chat-screen .alt-header,
#chat-screen .status-bar{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
}
#chat-screen .status-bar{
    z-index: 2;
}
#chat-screen .alt-header{
    z-index: 1;
}
.main-screen{
    margin-top: 100px;
    
}
.chat-timestamp{
    
    color: white;
    background-color: rgba(0,0,0,0.4);
    padding: 8px;
    border-radius: 20PX;
    font-size: 12px;
    
}
.main-chat{
    display: flex;
    flex-direction: column;   
    align-items: center;
}
.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin-right: 10px;
    
}
.message-row__content{
    display: inline-block;
}
.message__author{
    opacity: 0.8;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
} 
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__bubble{
    background-color: white;
    padding: 8px 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__time{
    font-size: 8px;
    opacity: 0.8;
}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    order: 1;
    margin-left: 5px;
    margin-right: 0px;
}
.message-row--own .message__time{
    order: 0;
}
